header {
    background: #CAB8FF !important;
}

.navbar-light {
    background-color: #937cc8;
}

.nav-bar {
    background: pink;
}

footer {
    background: #D6E5FA !important;
    padding: 32px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.col-12 {
    margin-bottom: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

#myCarousel {
    margin-bottom: 50px;
    background: #512DA8;
}

.carousel-item {
    height: 900px;
}

.carousel-item img {
    min-height: 100%;
    max-width: 100%;
    margin: auto;
}

#carouselButton {
    margin: auto;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .row-2 p {
        display: none;
    }
}

.modal-backdrop {
    z-index: -1;
}